.searchPage {
  flex: 0.8;
  padding: 20px 20px;
  background-color: #f9f9f9;
}
.searchPage__filter {
  display: flex;
  font-size: xx-small !important;
  color: #606060;
  align-items: center;
}
.searchPage__filter > h2 {
  margin-left: 10px;
}
.searchPage > hr {
  background-color: lightgray;
  height: 1px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
