.videoCard {
  max-width: 240px;
  margin-bottom: 40px;
}
.videoCard__image {
  height: 130px;
  width: 220px;
}
.videoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 20px;
}
.videoCard__text {
  margin-left: 10px;
}
.videoCard__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.videoCard__text > p {
  font-size: 14px;
  color: gray;
}
.videoCard__avatar {
  width: 30px !important;
  height: 30px !important;
}
