.videoRow {
  display: flex;
  width: 700px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.videoRow__img {
  object-fit: contain;
  width: 248px;
  height: 130px;
}
.videoRow__text {
  margin-left: 14px;
  margin-top: 5px;
}
.videoRow__text > p {
  font-size: 12px !important;
  color: #606060;
  margin-top: 5px;
}
.noOfSubs {
  color: rgb(84, 157, 211);
  font-weight: bolder !important;
}
.videoRow__description {
  margin-top: 20px !important;
}
